#sketch {
    left: 0px;
    top: 65px;
    position: fixed;
    z-index: 0;
    opacity: 1;
    display: inline;
}

body {
    overflow: hidden;
}

.CodeMirror {
    top: 57px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    display: block;
    background: rgba(255, 255, 255, 0.4);    
}

#TopBar {
    position: fixed;
    height: 70px;
    width: 200%;
    left: -5px;
    top: -5px;
    z-index: 6;
}
#BottomBar {
    position: fixed;
    display: none;
    height: 50px;
    width: 200%;
    left: -5px;
    bottom: 0px;
}

#sketchName {
    font-family: Helvetica;
    font-size: 15pt;
    color: white;
    z-index: 6;
    position: fixed;
    top: 30px;
    left: 37%;
}

#runButton {
    font-family: Helvetica;
    font-size: 14pt;
    color: white;
    z-index: 6;
    position: fixed;
    top: 30px;
    right: 10px;
}

#backButton {
    font-family: Helvetica;
    font-size: 14pt;
    color: white;
    z-index: 6;
    position: fixed;
    top: 30px;
    left: 10px;
}
